## Below values must be same as your global-resource input values
prefix                       = "cnc01"
gcp_project                  = "cnc-gcp-project"
gcp_region                   = "us-east1"

## Change the below value as per your global-resource output field i.e gcp_cluster_name value
gcp_cluster_name             = "cnc01-cluster"

## Change the below value as per your global-resource output field i.e gcp_network_self_link value
gcp_network_self_link        = "https://www.googleapis.com/compute/v1/projects/cnc-gcp-project/global/networks/cnc01-vpc"

ingress_white_list_ip_ranges = ["0.0.0.0/0"]
