prefix      = "cnc01"
gcp_project = "cnc-gcp-project"
gcp_region  = "us-east1"
master_authorized_networks_config = [
  {
    display_name = "CIDR-1"
    cidr_block   = "0.0.0.0/0"
  },
]

## Change the below flag to create scanfarm resources
scanfarm_enabled = false